<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shortest Path Operation Microservice</title>
  <script>
    function redirectQto() {
    var currentURL = window.location.href;
    var newURL = currentURL + "op/shortest-path";
    window.location.href = newURL;
  }
  </script>
</head>

<body>
  <h2>Shortest Path Operation Microservice</h2>
  <p>The Shortest Path Operation Microservice is based on the <a href="https://github.com/stelemme/template-microservice-py">Flask
      template</a>. A new blueprint is created in the blueprints folder, the shortest_path.py file, which holds the
    functionality of the Shortest Path Microservice. When running the Microservice, the functionality can be accessed via the
    following endpoint.</p>
  <p><a href="javascript:void(0);" onclick="redirectQto();"><script>document.write(window.location.href)</script>op/shortest-path</a></p>
  <p>The endpoint has a GET and POST method. The GET response of the endpoint returns a JSON object
    that specifies which methods and data types are supported by the endpoint. In this case, an IFC-file must be sent in a POST
    request to the endpoint. The endpoint then returns a JSON file containing all the information about the calculated shortest
    path. The start and end space also need to be give in the post request to make a correct calculation of the shortest path as
    well as some additional parameters.  The endpoint will thus need to
    receive a form-data request containing the IFC-file and the additional parameters.</p>
  <ul>
    <li>ifcFile: The IFC-file</li>
    <li>start: The start space of the path that needs to be calculated.</li>
    <li>finish: The finish space of the path that needs to be calculated.</li>
    <li>accuracy: The length of steps in meters.</li>
    <li>display: A boolean indicating whether or not a graphical display needs to be returned.</li>
  </ul>
</body>

</html>